# Pharmaceutical Project

### Introduction

In [1]:
#importing required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
#reading the csv files
df = pd.read_csv('data/lindatatussin_scrubbed.csv')
df.head()

,Sample-Number,Measure F,Measure E,Measure D,Measure C,Measure G,Measure B,Measure A,Measure H
0,32976,0.3,0.7,9.8,283,0.020,99.6,6.0,140
1,33045,0.3,0.7,9.9,282,0.020,99.4,6.1,158
2,33232,0.4,1.1,11.0,282,0.028,100.0,6.1,149
3,33244,0.1,1.1,10.6,284,0.020,99.9,6.0,157
4,33392,0.1,1.3,11.7,289,0.021,99.1,6.1,159