# Pharmaceutical Project

### Introduction

In [1]:
#importing required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
#reading the csv files
df = pd.read_csv('data/lindatatussin_scrubbed.csv')
df.head()

,Sample-Number,Measure F,Measure E,Measure D,Measure C,Measure G,Measure B,Measure A,Measure H
0,32976,0.3,0.7,9.8,283,0.020,99.6,6.0,140
1,33045,0.3,0.7,9.9,282,0.020,99.4,6.1,158
2,33232,0.4,1.1,11.0,282,0.028,100.0,6.1,149
3,33244,0.1,1.1,10.6,284,0.020,99.9,6.0,157
4,33392,0.1,1.3,11.7,289,0.021,99.1,6.1,159

In [4]:
df2=pd.read_csv('data/zumacin_scrubbed.csv')
df2.head()

,SAMPLE_NUMBER,Assay Date,Compartment Temp,Reagent-A ID,Reagent-A ID Exp Date,Reagent-B Exp Date,Reagent-B ID,Material-A ID,Reagent-C Lot,Reagent-D Lot,Reagent-E Lot,Reagent-F Concentration,Reagent-F Expiration,Reagent-F Lot,SOP Version,Agg%,INSTRUMENT,Main%,Lab_Site,Chemist
0,120629,01/28/2011,4.3,ReagentA-1-32,04/25/2011,NaN,NaN,MaterialA-1-554,NaN,NaN,ReagentE-1-394,NaN,01/31/2012,ReagentF-1-779,5.6,5.90580,30.0,88.62140,Stat,ChemistO
1,126733,02/15/2011,4.3,ReagentA-2-654,05/12/2011,02/23/2011,ReagentB-2-867,MaterialA-2-47,NaN,NaN,ReagentE-1-394,NaN,01/31/2012,ReagentF-1-779,5.6,6.09960,84.0,88.35680,Park,ChemistV
2,134380,03/04/2011,4.6,ReagentA-1-32,04/25/2011,NaN,NaN,MaterialA-3-451,NaN,NaN,ReagentE-2-800,NaN,01/31/2012,ReagentF-1-779,5.6,5.92722,37.0,88.49498,Stat,ChemistO
3,140369,03/23/2011,4.3,ReagentA-3-383,06/14/2011,03/30/2011,ReagentB-3-584,MaterialA-2-47,NaN,NaN,ReagentE-1-394,NaN,01/31/2012,ReagentF-1-779,5.6,6.05880,53.0,88.39796,Park,ChemistV
4,142003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df3=pd.read_csv('data/lumab_25_60.csv')
df3.head()

   TIMEPOINT         NAME  ENTRY CONDITION PRODUCT  Sample-Number    Lot
0          0  Deamidation   2.00     25_60   Lumab         213819  42268
1          1  Deamidation   2.31     25_60   Lumab         213827  42268
2          3  Deamidation   2.10     25_60   Lumab         213830  42268
3          6  Deamidation   3.57     25_60   Lumab         213833  42268
4          0  Deamidation   2.10     25_60   Lumab         211117  42267